.hed{
    color: red;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: underline;
}
.label {
    font-size: 16px;
    color: #1ce605;
    font-weight: bold;
    font-family: 'Cambria',serif; 
}
.value {
    font-size: 14px;
}
img{
    width: 250px;
    height: 250px;
    float: right;
    margin: 250px;
}

