.hed{
    color: red;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: underline;
}
.highlight1{
    color:green;
    font-size: 16px;
    font-weight: bold;
    font-family: Cambria;
    position: absolute;
    top: 35%;
}
.highlight2{
    color:green;
    font-size: 16px;
    font-weight: bold;
    font-family: Cambria;
    position: absolute;
    top: 40%;
}
.highlight3{
    color:green;
    font-size: 16px;
    font-weight: bold;
    font-family: Cambria;
    position: absolute;
    top: 45%;
}
.highlight4{
    color:green;
    font-size: 16px;
    font-weight: bold;
    font-family: Cambria;
    position: absolute;
    top: 50%;
}
.hi1{
    font-size: 14px;
    position: absolute;
    top: 35%;
    left: 6%;
    
}
.hi2{
    font-size: 14px;
    position: absolute;
    top: 40.5%;
    left: 3%;
    
}
.hi3{
    font-size: 14px;
    position: absolute;
    top: 45.5%;
    left: 3.5%;
    
}
.hi4{
    font-size: 14px;
    position: absolute;
    top: 50.5%;
    left: 6%;
    
}
.pp{
    width: 250px;
    height: 250px;
    position: absolute;
    top: 35%;
    left: 50%;
}
